@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição de equipe</h1>

@if (ViewBag.UserName == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    @* <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

<input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

<label for="">Nome</label>
<input type="text" name="Nome" value="@ViewBag.Equipe.Nome">

<label for="">Imagem</label>
<input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

<button type="submit">Atualizar</button>
</form> *@

    <!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GamerProject_MVC</title>
        <link rel="stylesheet" href="~/css/equipes.css">
        <link rel="stylesheet" href="~/css/Header-Footer.css">
    </head>

    <body>

        <main>

            <section class="container-grid cadastro-equipes">


                <form class="frm-cad-equipe" method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

                    <div class="cadequipe-titulo">
                        <h1>Editar Equipe</h1>
                        <hr>
                    </div>

                    <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

                    <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:"
                        value="@ViewBag.Equipe.Nome" name="Nome" required>

                    <label class="foto" for="foto-file">
                        Nenhuma imagem selecionada...
                        <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem" id="foto-file">
                    </label>

                    <button type="submit">Cadastro</button>

                </form>
            </section>
        </main>
    </body>

    </html>

}