@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

@* <h1> Tela de Equipes </h1> *@

@if (ViewBag.UserName == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GamerProject_MVC</title>
        <link rel="stylesheet" href="~/css/equipes.css">
        <link rel="stylesheet" href="~/css/Header-Footer.css">
    </head>

    <body>

        <!-- MAIN -->
        <main>

            <section class="container-grid cadastro-equipes">


                <form class="frm-cad-equipe" method="post" action='@Url.Action("Cadastrar")'
                    enctype="multipart/form-data">
                    <div class="cadequipe-titulo">
                        <h1>Cadastro de Equipes</h1>
                        <hr>
                    </div>

                    <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:" name="Nome"
                        required>
                    <label class="foto" for="foto-file">
                        Nenhuma imagem selecionada...
                        <input type="file" name="Imagem" id="foto-file">
                    </label>

                    <button type="submit">Cadastro</button>

                </form>

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Foto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Equipe equipe in ViewBag.Equipe)
                        {
                            <tr>
                                <td>@equipe.IdEquipe</td>
                                <td>@equipe.Nome</td>
                                <td>
                                    <img src="/img/Equipes/@equipe.Imagem" alt="" width="60px" height="60px">
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">
                                        <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                    </a>

                                    <a asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe">
                                        <img class="yellow-trash" src="~/assets/🦆 icon _pencil_ 1.png" alt="">
                                    </a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </main>

    </body>

    </html>
}