@model Jogador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição de Jogador</h1>

@if (ViewBag.UserName == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

        <input type="hidden" name="IdEquipe">
        <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

        <label for="">Nome</label>
        <input type="text" name="Nome" value="@ViewBag.Jogador.Nome">

        <label for="">Email</label>
        <input type="text" name="Email" value="@ViewBag.Jogador.Email">

        <label for="">Equipe</label>
        <select class="form-control" name="IdEquipe">

            <option value="">Selecione</option>

            @foreach (var equipe in ViewBag.Equipe)
            {
                <option value="@equipe.IdEquipe">@equipe.Nome</option>
            }
        </select>

        <button type="submit">Atualizar</button>
    </form>
}