@model Jogador

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.UserName == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Equipes</title>
        <link rel="stylesheet" href="~/css/Header-Footer.css">
        <link rel="stylesheet" href="~/css/jogadores.css">

    </head>

    <body>

        <main>

            <section class="container-grid cadastro-equipes">


                <form class="frm-cad-equipe" method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">
                    <div class="cadequipe-titulo">
                        <h1>Editar Jogador</h1>
                        <hr>
                    </div>

                    <select class="campo-entrada" id="equipe-select" name="IdEquipe">
                        <option value="" style="color: black;">Selecione sua Equipe</option>

                        @foreach (var equipe in ViewBag.Equipe)
                        {

                            <option value="@equipe.IdEquipe" style="color: black;">@equipe.Nome</option>

                        }
                    </select>

                    <input type="hidden" name="IdEquipe">

                    <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

                    <input class="campo-entrada" type="text" id="nome-jogador" value="@ViewBag.Jogador.Nome"
                        placeholder="Digite o nome do Jogador:" name="Nome">

                    <input class="campo-entrada" type="email" id="email-jogador" value="@ViewBag.Jogador.Email"
                        placeholder="Digite o Email do Jogador:" name="Email">

                    <input class="campo-entrada" type="hidden" id="senha" placeholder="Digite a Senha:" name="Senha">

                    <button type="submit">Atualizar</button>




                </form>
            </section>
            <main>
    </body>

    </html>
}